* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Media Query min-width 768px Start */
@media (min-width: 768px) {
  body {
    margin: 2rem 2rem !important;
  }
}
/* Media Query min-width 768px End */
