* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 640px) {
  #title-contact-us {
    font-size: 2.2rem;
  }

  #logo {
    margin-right: 30px;
  }
}

@media (max-width: 1180px) {
  #information-cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
  }
}
