@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Todo Card Start */
.card-head {
  background: url("../assets/Header-Card.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-output {
  height: 300px;
  overflow: auto;
  scroll-behavior: smooth;
}
/* Todo Card end */

/* Footer Start */
.share_section .logo {
  width: 40px;
  height: 40px;
}
/* Footer End */

.checkbtn {
  display: none;
}

/* Media Query min-width 600px Start */
@media (min-width: 640px) {
  #check {
    display: none;
  }

  .checkbtn {
    display: block;
    font-size: 2rem;
  }

  ul {
    position: fixed;
    width: 50%;
    border-radius: 0 10px 10px 0;
    height: 20vh;
    top: 90px;
    left: -100%;
    padding: 2rem;
    text-align: center;
    transition: all 0.5s;
    /* glass */
    background: rgba(22, 20, 20, 0.45);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  nav ul li {
    display: block;
    margin: auto;
    line-height: 50px;
  }
  nav ul li a {
    font-size: 2rem;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

@media (min-width: 768px) {
  #check {
    display: none;
  }
  .checkbtn {
    display: none;
  }
  ul {
    position: relative;
    width: 50%;
    height: 0;
    top: 0px;
    left: 0%;
    background: none;
    border: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    padding: 0;
    text-align: center;
  }

  ul li {
    display: inline;
  }

  a:hover,
  a.active {
    background: none;
    color: white;
  }
}

@media (max-width: 1180px) {
  #weather-cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
  }
}
