@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Todo Card Start */
.card-head {
  background: url("../assets/Header-Card.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-output {
  height: 300px;
  overflow: scroll;
  scroll-behavior: smooth;
}
/* Todo Card end */

/* Footer Start */
.share_section .logo {
  width: 40px;
  height: 40px;
}
/* Footer End */

/* Media Query min-width 768px Start */
@media (min-width: 768px) {
  body {
    margin: 2rem 2rem !important;
  }
  #title-card-weather,
  #title-card-todo {
    font-size: 6vw;
  }
  #card-todo {
    width: 75%;
  }
}
/* Media Query min-width 768px End */
